/* base  - 기본 구조  - 브라우저 초기화 */
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: #444;}

body{overflow-x: hidden; overflow-y: hidden;}

.wrap {
  width: 100vw;
  height:100vh;
  margin: auto;
  background-color: rgb(247, 169, 202);  
}
header{	z-index: 99999;	 width: 100vw; height:10%; background-color: black; border:0px solid red;}

header h3{
  color: aliceblue;
  text-align: center;
  line-height: 10vh;
  height:10vh; 
}

/*---------- 메뉴쪽---------*/
nav{
  background:rgb(226, 199, 214);
  z-index: 9999999999;	
  border:1px solid rgb(66, 59, 62);
}
  .menu{text-align: center; margin-left: 15vw;  }
  .menu li {float: left; width:300px; height: 90px; border:1px solid rgb(66, 59, 62); background:rgb(247, 169, 202);}
  .menu li a{ 
    width:300px; height: 90px;
    line-height: 90px; 
    font-size:1.5em;
    display: block;
  }
  .menu li a:hover{
    font-style:italic;
    background-color: rgb(104, 202, 137);
    z-index: 9999999;	
  }

  
/*---------- 가운데---------*/
main {width: 100vw; height: 73.5%; 
  font-size: 90px; color:#fff; font-weight: 900;

  background-image: url(bg.jpg);
  margin-top: 90px;

}



footer {width: 100vw; height: 10%;  background-color: #333;  color: #fff;  
  display: flex; justify-content: center; align-items: center;}



  