*{padding: 0; margin: 0;}
li{list-style: none;}
a{text-decoration: none;}
body{font-family: 'Noto Sans KR', sans-serif;
line-height: 28px; color: #444;}



.wrap{width: 1100px; margin: 20px auto;}

h1{font-size: 26px; color: black; border-bottom: 1px solid black; height: 40px; margin-bottom: 20px;}

/* nav 메뉴자리 */
.nav{position: relative; height: 50px; margin-bottom: 40px;}
    li{
        float: left;
        width: 155px; height: 50px;
        background-color: rgb(112, 93, 106);
        text-align: center;
        line-height: 50px;
    }
    li:nth-child(2n){background-color: rgb(92, 63, 80);}
    li a{
        color: #fff;
        width: 155px; height: 50px;
        display: block;
        transition: all 0.4s;
    }
    li a:hover{background-color: rgba(255, 224, 239, 0.966);}
    li:first-child{border-radius: 10px 0 0 10px;}
    li:last-child{border-radius: 0 10px 10px 0;}

/* cont 자리 */
.cont{
    position: relative;
    width: 1100px; 
    height: 450px;
}
    .photo1 div{
        position: absolute;
        width: 350px; height: 420px;
        box-shadow: 8px 8px 12px #999;
        overflow: hidden;
    }
    .photo1 img{width: 350px; height: 420px;}
    .photo1 img:hover{transform: scale(1.2, 1.2);
    transition: all 0.4s;}

    .txt{
        position: absolute;
        width: 650px; height: 310px;
        left: 400px; top: 15px;
    }
        h2{margin-bottom: 20px;}

        .btn{width: 180px; height: 45px;
        border: 2px dotted rgba(233, 176, 203, 0.966);
        background-color: #eee;
        color: rgba(233, 176, 203, 0.966);
        text-align: center;
        line-height: 45px;
        font-size: 14px;
        margin-top: 30px;
        }
    .btn:hover{background-color: rgba(255, 224, 239, 0.966);
    color: #fff;
    transition: all 0.4s;}
    

/* 포토갤러리 자리 */

.photo2{position: relative; top: 10px;}
            .photo2 div{display: inline-block; width: 200px; height: 160px; 
            box-shadow: 4px 4px 9px #777; margin-right: 12px; overflow: hidden;}
            .photo2 img{width: 200px; height: 160px;}
            .photo2 img:hover{transform: scale(1.5, 1.5);
                transition: all 0.4s;}





.animation span{
  position: relative;
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.animation .two_text{
  color: black;
}

.two_text:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-left: 2px solid #ff91c4;
  animation: animate 3s steps(3) infinite;
}

@keyframes animate{
  40%, 60%{
      left: calc(100% + 1px);
  }

  100%{
      left: 0%;
  }
}

.snow {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    animation: snowfall 5s linear infinite;
}